:root {
  --color-white: #ffffff;
  --color-green: rgb(8, 121, 63);
  --color-black: #000000;

  --color-background: #000000;

  --color-text: #ffffff;
}

.green {
  color: var(--color-green);
}

.black {
  color: var(--color-black);
}

.white {
  color: var(--color-white);
}
