:root {
  --color-white: #ffffff;
  --color-green: #39a041;

  --color-background: #000000;

  --color-text: #ffffff;
}

.green {
  color: var(--color-green);
}

.white {
  color: var(--color-white);
}
