*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: var(--font-weight-base);
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 2rem;
  font-family: var(--font-family);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  vertical-align: top;
  fill: currentColor;
}

.limiter {
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  padding: 10% 10%;
}

@media screen and (max-width: 1300px) {
  .limiter {
    padding: 10% 5%;
  }
}

@media screen and (max-width: 900px) {
  .limiter {
    padding: 15% 3%;
  }
}

.section {
  overflow: hidden;
  position: relative;
}

:root {
  font-size: 1vw;
}
@media screen and (max-width: 1300px) {
  :root {
    font-size: 1vw;
  }
}
@media screen and (max-width: 900px) {
  :root {
    font-size: 0.9vw;
  }
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 0.8vw;
  }
}
@media screen and (max-width: 500px) {
  :root {
    font-size: 0.7vw;
  }
}
